* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.weather-header {
    background-image: linear-gradient(grey, #941a65);
}

#search-input {
    border-radius: 5px;
    text-align: center;
    border-color: #941a65;
    margin: 2px;
}

.form .input-group-append #search-button {
    background-color: #941a65;
    border-radius: 5px;
    margin: 2px;
    color: white;
    font-size: 12px;
}

.list-group ul li {
    color: white;
    background-color: #941a65;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

#today {
    padding: 10px;
}

.locationName {
    display: inline-block;
}

.todayDate {
    display: inline-block;
    margin: 10px;
    text-align: left;
}

#forecast {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.forecast-5-day {
    background-color: #941a65;
    padding: 20px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}